<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fluffy Robot Dashboard</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
        </header>
        <nav
            {{if .AgentVals}}
            hx-vals='{"agents": "{{printf `%s` .AgentVals}}"}'
            {{end}}
            >
            Time range: 
            <button class="time-button" hx-get="/chart" hx-vals='{"period":"1h"}'  hx-target="#chart-content">Last 1h</button>
            <button class="time-button" hx-get="/chart" hx-vals='{"period":"4h"}'  hx-target="#chart-content">Last 4h</button>
            <button class="time-button" hx-get="/chart" hx-vals='{"period":"24h"}' hx-target="#chart-content" hx-trigger="load">Last 24h</button>
            <button class="time-button" hx-get="/chart" hx-vals='{"period":"7d"}'  hx-target="#chart-content">Last 7d</button>
        </nav>

        <main>   
            <h2>Chart Visualization</h2>
            <div id="chart-content">
                Click a filter button to load a chart.
            </div>
        </main>
    </body>
</html>

